body{
    margin: 0;
    background-color:  rgba(53, 90, 253, 0.135);
}

/* header styles */
header{
    background-color: rgba(53, 89, 253, 0.701);
}
header ul{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header ul li a{
    display: block;
    border: 1px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color: rgba(53, 89, 253, 1);
    border-color: rgba(53, 89, 253);
}
header ul li a:focus, header ul li a:hover{
    background-color: rgba(84, 225, 253, 0.5);
}


/*main style*/
main{
    margin-left: 5%;
    margin-right: 5%;
}
h2{
    position: center;
    font-weight: bold;
}
/*index main*/
.presentation img{
    width: 30%;
    height: 30%;
    vertical-align: middle;
    margin-right: 2%;
    border-radius: 5%;
}
.education h2{
    background-image: url(picture/user-graduate.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    text-indent: 2.5em;
}
.experience h2{
    background-image: url(picture/work.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    text-indent: 2.5em;
}
.hobby h2{
    background-image: url(picture/hobbies.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    text-indent: 2.5em;
}

/*projects main*/
.introduction{
    text-align: center;
}
.introduction h1{
    margin-bottom: 0;
}
.introduction p{
    margin-top: 0;
}
h2{
    margin-top: 2em;
}

/* projects .cyberfactory style*/
/*grid to place all the elements in place
flex to align the images in the same line*/
.cyberfactory{
    display: grid;
    grid-template-rows:  auto auto auto auto auto auto auto;
}
.cyberfactory img{
    width: 30vw;
    margin-right: 0.25em;
}
.cyberfactory video{
    width: 30vw;
    margin-right: 0.25em;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro{
    grid-row: 1/2;
}
.images #1{
    grid-row: 2/3;
}
.texts #1{
    grid-row: 3/4;
}
.images #2{
    grid-row: 4/5;
}
.texts #2{
    grid-row: 5/6;
}
.images #3{
    grid-row: 6/7;
}
.texts #3{
    grid-row: 7/8;
}




/*footer style*/
footer{
    border: solid;
    border-color: rgba(53, 89, 253, 0.701) ;
    bottom: 0;
    left:0;
    right:0;
    color: rgba(53, 89, 253);
}
footer ul{
    list-style-type: none;
}
.content{
    margin-left: 2%;
}
.content h2{
    background-image: url(picture/contact-mail.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    text-indent: 2em;
}


