body{
    margin:0;
}

/* header styles */
header{
    background-color: rgba(53, 89, 253, 0.701);
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header ul li a{
    display: block;
    border: 1px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color: rgba(53, 89, 253, 1);
    border-color: rgba(53, 89, 253);
}
header ul li a:focus, header ul li a:hover{
    background-color: rgba(84, 225, 253, 0.5);
}


/*main style*/
main{
    margin-left: 5%;
    margin-right: 5%;
}
h2{
    position: center;
    font-weight: bold;
}
.presentation img{
    width: 30%;
    height: 30%;
    vertical-align: middle;
    margin-right: 2%;
    border-radius: 5%;
}

/*footer style*/
footer{
    border: solid;
    bottom: 0;
    left:0;
    right:0;
}
footer ul{
    list-style-type: none;
}
.content{
    margin-left: 2%;
}


